{:paths ["src/clj" "resources"]
 :deps {aero                      {:mvn/version "1.1.6"}
        com.layerware/hugsql      {:mvn/version "0.5.1"}
        com.taoensso/timbre       {:mvn/version "4.10.0"}
        http-kit                  {:mvn/version "2.5.0"}
        metosin/reitit            {:mvn/version "0.5.2"}
        org.clojure/clojure       {:mvn/version "1.10.1"}
        org.postgresql/postgresql {:mvn/version "42.2.2"}
        ring-cors                 {:mvn/version "0.1.13"}}
 :aliases {:run   {:main-opts ["-m" "backend.core"]}
           :nREPL {:extra-deps {cider/cider-nrepl {:mvn/version "0.25.4"}
                                cider/piggieback  {:mvn/version "0.4.2"}
                                nrepl/nrepl       {:mvn/version "0.8.3"}}
                   :main-opts ["-m" "nrepl.cmdline"
                               "--middleware" "[cider.nrepl/cider-middleware,cider.piggieback/wrap-cljs-repl]"
                               "-i"]}}}

